# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala
5. JavaScript

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Sci-Kit Learn
4. SciPy
5. TensorFlow

|Data Science Tools |
|-------------------|
|Jupyter Notebook|
|Jupyter Lab|
|R Studio |
|IBM Watson Studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## *Objectives:*
- List of popular languages for Data Science.
- List of popular Tools for Data Science.
- List of libraries for Data Science.
- Code, Markdown cells and Heading Styles.
- Creating Table in Jupyter Notebook.

## Author:
Amir